.venv/
.notebooks/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
.ipynb_checkpoints/
*.ipynb
models/
downloads/
logs/
*.log
.coverage
.pytest_cache/
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.idea/
.vscode/
*.swp
*.swo
data/
doc/
deployment_with_GPU.yaml
storageclass.yaml
secrets/
credetials/
temp/
temp_data/
docker-compose_back_up.yml
requirements copy.txt
requirements_backup.txt
requirements.txt
notebook/
venv/
.env
credentials/
book-agent/